In [1]:
import pandas as pd
import numpy as np

# Ejercicio 1

Obtener las primeras `3` filas de un objeto `DataFrame`.

In [4]:
#Datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df.head(3)

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí

In [5]:
#Solución, aquí tu respuesta
df.head(3)

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí

# Ejercicio 2

Obtener las últimas `3` filas de un objeto `DataFrame`.

In [6]:
#Datos
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df.tail(3)

   nombre  puntaje  intentos califico
h   Edgar      NaN         1       No
i   Angie      8.0         2       No
j  Irlesa     18.0         1       Sí

In [7]:
#Solución
df.tail(3)

   nombre  puntaje  intentos califico
h   Edgar      NaN         1       No
i   Angie      8.0         2       No
j  Irlesa     18.0         1       Sí

# Ejercicio 3

Seleccionar las columnas ['nombre', 'califico'] de un objeto `DataFrame`.

In [8]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [9]:
df = df[['nombre', 'califico']]
df

    nombre califico
a    Oliva       Sí
b  Daniela       No
c     Juan       Sí
d   Germán       No
e   Edward       No
f     Alex       Sí
g    Julio       Sí
h    Edgar       No
i    Angie       No
j   Irlesa       Sí

# Ejercicio 4

Comprobar si este objeto `DataFrame` está vacío con `empty`.

In [10]:
df = pd.DataFrame({'X': []})

df

Empty DataFrame
Columns: [X]
Index: []

In [11]:
print(df.empty)

True

# Ejercicio 5

Crear un objeto `DataFrame` a partir de objetos `Series`.

In [12]:
#Partimos de dos series
nombres = pd.Series(['Edward', 'Germán', 'Daniela'])
edades = pd.Series([27, 23, 19])
print(nombres)

0     Edward
1     Germán
2    Daniela
dtype: object

In [13]:
#1. Metemos las series en un diccionario
diccionario = {'nombres': nombres, 'edades': edades}
print(diccionario)

#2. Metemos el diccionario dentro de un dataframe
df_series = pd.DataFrame(diccionario)
print(df_series)

{'nombres': 0     Edward
1     Germán
2    Daniela
dtype: object, 'edades': 0    27
1    23
2    19
dtype: int64}
   nombres  edades
0   Edward      27
1   Germán      23
2  Daniela      19

# Ejercicio 6

Determinar los datos en un `DataFrame` que son nulos (NaN).

In [14]:
nombres = ['Edward', 'Daniela', 'Germán']
edades = [5, 6, np.nan]
fecha_nacimiento = [pd.Timestamp('1990-01-03'), None, np.nan]

personas = {'nombre': nombres, 'edad': edades, 'fecha_nacimiento': fecha_nacimiento}

df = pd.DataFrame(data=personas)

df

    nombre  edad fecha_nacimiento
0   Edward   5.0       1990-01-03
1  Daniela   6.0              NaT
2   Germán   NaN              NaT

# Ejercicio 7

Modificar un valor o entrada específico de un objeto `DataFrame` usando `loc`.

In [15]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

   X  Y   Z
a  1  5   2
b  2  4   3
c  3  3   5
d  4  2   7
e  5  1  11

In [16]:
df.loc['b', 'Z'] = 8
df

   X  Y   Z
a  1  5   2
b  2  4   8
c  3  3   5
d  4  2   7
e  5  1  11

# Ejercicio 8

Acceder a un valor o entrada específico de un objeto `DataFrame` usando `loc`.

In [17]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

   X  Y   Z
a  1  5   2
b  2  4   3
c  3  3   5
d  4  2   7
e  5  1  11

In [18]:
valor = df.loc['b', 'Z']
print(valor)

3

# Ejercicio 9

Sumar los valores de la columna intentos con `sum`.

In [19]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [20]:
df['intentos'].sum()

19

# Ejercicio 10 (Opcional)

 Agregar una nueva fila a un objeto `DataFrame` por medio de `loc`.

In [30]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [31]:
df.loc[len(df)+1] = ['Tomas', 20, 1, 'Sí']
df

     nombre  puntaje  intentos califico
a     Oliva     11.5         1       Sí
b   Daniela      8.0         3       No
c      Juan     15.5         2       Sí
d    Germán      NaN         3       No
e    Edward      8.0         2       No
f      Alex     19.0         3       Sí
g     Julio     13.5         1       Sí
h     Edgar      NaN         1       No
i     Angie      8.0         2       No
j    Irlesa     18.0         1       Sí
11    Tomas     20.0         1       Sí

# Ejercicio 11

Eliminar una fila de un `DataFrame` con la función `drop`.

In [32]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [42]:
df.drop('a')

KeyError: ignored

# Ejercicio 12

Mostrar los n primeros y últimos registros de un objeto `DataFrame` con `head` y `tail`.

In [45]:
datos_1 = list(range(1, 101))
datos_2 = list(range(1, 101))

df = pd.DataFrame({'A': datos_1, 'B': datos_2})

df
df.head()
df.tail()

      A    B
95   96   96
96   97   97
97   98   98
98   99   99
99  100  100

# Ejercicio 13

Agregar una nueva fila a un `DataFrame` con notación de slicing.

`df['nombre_nueva_fila'] = valores`

In [46]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [48]:
#Valores nueva fila
colores = ['Negro', 'Blanco', 'Azul', 'Verde', 'Rojo', 'Amarillo', 
           'Gris', 'Naranja', 'Lila', 'Café']

df['colores'] = colores

df

    nombre  puntaje  intentos califico   colores
a    Oliva     11.5         1       Sí     Negro
b  Daniela      8.0         3       No    Blanco
c     Juan     15.5         2       Sí      Azul
d   Germán      NaN         3       No     Verde
e   Edward      8.0         2       No      Rojo
f     Alex     19.0         3       Sí  Amarillo
g    Julio     13.5         1       Sí      Gris
h    Edgar      NaN         1       No   Naranja
i    Angie      8.0         2       No      Lila
j   Irlesa     18.0         1       Sí      Café

# Recorrer un df

 Para iterar cada una de las filas de un `DataFrame` utilizamos la función `iterrows`.

In [49]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [50]:
for indice, fila in df.iterrows():
    print(fila['nombre'], fila['califico'])

Oliva Sí
Daniela No
Juan Sí
Germán No
Edward No
Alex Sí
Julio Sí
Edgar No
Angie No
Irlesa Sí

# Ejercicio 14 (Opcional)

Obtener como una lista Python los nombres de las columnas de un `DataFrame`.

In [52]:
datos = {'X': [1, 2, 3, 4, 5], 'Y': [5, 4, 3, 2, 1], 'Z': [2, 3, 5, 7, 11]}

df = pd.DataFrame(datos)

df

   X  Y   Z
0  1  5   2
1  2  4   3
2  3  3   5
3  4  2   7
4  5  1  11

In [54]:
df.columns.tolist()
list(df)

['X', 'Y', 'Z']

# Ejercicio 15

Renombrar las columnas de un objeto `DataFrame` a partir del diccionario dado.

In [2]:
datos = {'Columna1': [1, 2, 3, 4, 5], 'Columna2': [5, 4, 3, 2, 1], 
         'Columna3': [2, 3, 5, 7, 11]}

indices = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(data=datos, index=indices)

df

   Columna1  Columna2  Columna3
a         1         5         2
b         2         4         3
c         3         3         5
d         4         2         7
e         5         1        11

In [4]:
#Diccionario con los nuevos nombres de las columnas
renombrado_columnas = {'Columna1': 'X', 'Columna2': 'Y', 'Columna3': 'Z'}

df.rename(columns = renombrado_columnas)
df.rename(columns = renombrado_columnas, inplace=True) #Asi se quedaría de forma permanente

   Columna1  Columna2  Columna3
a         1         5         2
b         2         4         3
c         3         3         5
d         4         2         7
e         5         1        11

# Ejercicio 16

* Guardar los registros de un `DataFrame` en un archivo de formato **CSV**.
* Prueba a descargarlos en tu PC.

In [5]:
nombre = ['Oliva', 'Daniela', 'Juan', 'Germán', 'Edward', 'Alex', 'Julio', 
          'Edgar', 'Angie', 'Irlesa']
puntaje = [11.5, 8, 15.5, np.nan, 8, 19, 13.5, np.nan, 8, 18]
intentos = [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]
califico = ['Sí', 'No', 'Sí', 'No', 'No', 'Sí', 'Sí', 'No', 'No', 'Sí']

indices = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

jugadores = {'nombre': nombre, 'puntaje': puntaje, 'intentos': intentos, 
             'califico': califico}

df = pd.DataFrame(data=jugadores, index=indices)

df

    nombre  puntaje  intentos califico
a    Oliva     11.5         1       Sí
b  Daniela      8.0         3       No
c     Juan     15.5         2       Sí
d   Germán      NaN         3       No
e   Edward      8.0         2       No
f     Alex     19.0         3       Sí
g    Julio     13.5         1       Sí
h    Edgar      NaN         1       No
i    Angie      8.0         2       No
j   Irlesa     18.0         1       Sí

In [7]:
df.to_csv('df_pandas.csv', index=False) #Exportar un DataFrame a formato CSV